@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon-icomoon.eot');
  src:  url('../fonts/icomoon-icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-icomoon.ttf') format('truetype'),
    url('../fonts/icomoon-icomoon.woff') format('woff'),
    url('../fonts/icomoon-icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
  content: "\f002";
}
.icon-heart:before {
  content: "\f004";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-map-signs:before {
  content: "\f277";
}
.icon-phone2:before {
  content: "\e0cd";
}
.icon-chat:before {
  content: "\e0b7";
}
.icon-person:before {
  content: "\e7fd";
}
