.footer{
    width: 100%;
    text-align: center;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    bottom: 0%;
    position: fixed;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer a{
    text-decoration: none;
    color: transparent;
}

@media only screen and (max-width: 766px) {
  
    .footer {
        font-size: 20px;
    }
    }

