html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
   font-weight: bold;
  -webkit-text-size-adjust: 100%
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: white;
  font-weight: bold;
  background-color: black
}

