body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button {
    margin: 0;
    padding: 0
}

body {
    background-color: #fff;
    text-align: left;
}

img, fieldset, iframe {
    border: 0 none transparent
}

ol, ul, dl {
    list-style: none outside none;
}

li, dd {
    list-style: none
}

input, select, button {
    vertical-align: middle
}

img {
    vertical-align: top
}

em, address {
    font-style: normal
}

label, button {
    cursor: pointer
}

button {
    margin: 0;
    padding: 0
}

a {
    color: #2f3743;
    text-decoration: none
}

a:hover {
    color: #3399FF;
    text-decoration: underline
}

button {
    position: relative
}

option {
    padding-right: 6px
}

hr {
    display: none
}

body, iframe, form, img, p {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.link1 {
    color: #33335b;
    text-decoration: none;
    font-weight: normal;
}

a.link1:link {
    color: #33335b;
    text-decoration: none;
    font-weight: normal;
}

a.link1:active {
    color: #33335b;
    text-decoration: none;
    font-weight: normal;
}

a.link1:visited {
    color: #33335b;
    text-decoration: none;
    font-weight: normal;
}

a.link1:hover {
    color: #08e3ff;
    text-decoration: none;
    font-weight: normal;
}